*{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: #888;
}

.clearfix:after{
	
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0px;
}

.clearfix {
    clear: both;
    display: block;
	margin: 0 0 0 140px;
}

ul li{
	list-style: none;	/*  bỏ chấm */
}

body{
	font-family: arial; 
	font-size: 13px;
	background: #F4F4F4;
}
#warpper{
	width: 1366px;

	margin: auto;

}

/* .warpper_container{
	width: 1000px;
	height: auto;
	margin: auto;
}
 */
/* style header */
#header{
	background: #F4F4F4;
}
#logo, #main_menu{
	float: left;	 
}

#fm_signin{
	float: right;
	margin-top: -25px;
}
#fm_signin ul li{ 

	float: right;
	margin-top: 25px;
	padding: 10px;
}
#fm_signin ul li a{ 	
	font-size: 15px;
/* 	text-decoration: underline ; */
	font-weight: 600;
}

.signup { 
	background-color: blue;
	border-radius: 8px;
}

.signup a{
	color: #FFF;
}

.signin a{
	color: #1747d1;
}

#fm_signin ul li:hover a{
	text-decoration: underline;

}
#main_menu{
	margin: 26px 0 0 40px;
	border-bottom: 1px solid blue;
	width: 880px;
	height: 40px;
}
#main_menu>li{
	float: left;
}

#main_menu li{
	position: relative;
}

#main_menu>li a{
	display: block;
 	padding: 10px;
 }

#main_menu>li>a{
	display: block;
	/* padding: 20px; */
}

#main_menu li .sub_menu{
	position: absolute;
	width:200px;
	background: #FFF;
	top: 36px;
	right: 0px;
    width: 188px;
	display: none;
}
#main_menu>li>.sub_menu{
	position: absolute;
	/* left: 0px;
	top: 36px; */
}

#main_menu li:hover>.sub_menu{
	display: block;
}
#main_menu li:hover {
	background: #DDDDDD; 
	transition: all 0.8s;
}

#main_menu>li:hover>a{
	color: blue;
}


.sub_menu li .sub_menu2{
	position: absolute;
	width:200px;
	/* background: red; */
	top: 0px;
	left: 188px;
    width: 324px;
	display: none;
}
.sub_menu li:hover>.sub_menu2{
	display: block;
}

.sub_menu2 li a{
	color: #FFF;
}
/* .sub_menu2>li>a{
	font-size: 30px;
}
 */

.menu1{
	background-color: #6f76d6;
}
.title_menu{
	text-align: center;
	border-bottom: 1px solid black;
}

.menu2{
	margin-top: -35px; 
	background-color: #faa541;
}
.menu3{
	margin-top: -70px; 
	background-color: #45ff71;
}



/* STYLE MAIN_CONTENT */

#main_content{
margin: 10px 0 0 116px;
}

#content_Left{
	width: 750px;
	height: 600px;
	background-color: #F4F4F4;
	float: left;
	margin-left: 23px;
}




/* STYLE fOOTER */

#footer{
	margin-top: 10px;
	border-top: 1px solid #B2BABB;
	width: 1366px;
	height: 130px;
	background: #FF0000;

}
#footer p{
	font-size: 14px;
	margin: auto;
	margin-top: 30px;
}